<nav class="navbar navbar-light bg-light">
    <div class="headers">
        <a class="navbar-brand" href="#home">
            <img class="logos" src="src/assets/logo Nav.png" alt="Logo" />
            Parcel Service
        </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#Home">Home</a>
            </li>
            <!-- <li class="nav-item">
          <a class="nav-link" href="#About">About</a>
        </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Service
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#View Parcel">View Parcel</a>
                    <a class="dropdown-item" href="#Search Parcel">Search Parcel</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="containers">
    <div class="images">
        <img src="../../assets/847969.png" alt="Admin login" />
        <p class="logo-texts">Admin</p>
        <div class="views">
            <button type="button">View Parcel</button>
        </div>
        <div class="searchs">
            <button type="button">Search User</button>
        </div>
    </div>

    <div class="Adminds">
        <div class="idsearch1">
            <input type="text" class="form-control form-control-lg" id="username" placeholder="user id" />
            <button class="go" type="button">Search</button>
        </div>

        <div class="idsearch2">
            <input type="text" class="form-control form-control-lg" id="username" />
            <button class="show1" type="button">View Details</button>
        </div>

        <div class="idsearch3">
            <input type="text" class="form-control form-control-lg" id="username" />
            <button class="show2" type="button">View Details</button>
        </div>

        <div class="idsearch4">
            <input type="text" class="form-control form-control-lg" id="username" />
            <button class="show3" type="button">View Details</button>
        </div>

        <div class="idsearch4">
            <input type="text" class="form-control form-control-lg" id="username" />