<nav class="navbar navbar-light bg-light">
    <div class="headerv">
        <a class="navbar-brand" href="#home">
            <img class="logov" src="src/assets/logo Nav.png" alt="Logo" />
            Parcel Service
        </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#Home">Home</a>
            </li>
            <!-- <li class="nav-item">
          <a class="nav-link" href="#About">About</a>
        </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Service
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#View Parcel">View Parcel</a>
                    <a class="dropdown-item" href="#Search Parcel">Search Parcel</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="containerv">
    <div class="imagev">
        <img src="./src/assets/User-Icon-Grey.png" alt="Admin login" />
        <p class="logo-textv">Admin</p>
        <div class="viewv">
            <button type="button">View Parcel</button>
        </div>
        <div class="searchv">
            <button type="button">Search User</button>
        </div>
    </div>

    <div class="parcelv">
        <button class="parcel1" type="button">Parcel item 1</button>
        <button class="parcel2" type="button">Parcel item 2</button>
        <button class="parcel3" type="button">Parcel item 3</button>
        <button class="parcel4" type="button">Parcel item 4</button>
    </div>
</div>